.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
.icon {
  margin-right: 10px;
}
.delete {
  font-size: 14px;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  padding: 5px;
  transition: all 0.3s ease;
}

.item span:hover {
  cursor: pointer;
  color: #8590c6;
  transition: all 0.3s ease;
}
.item button:hover {
  cursor: pointer;
  color: red;
  transition: all 0.3s ease;
}
.item:hover {
  font-size: 15px;
  border-radius: 2%;
  background-color: #454b69;
}
