<app-header></app-header>
<div class="container">
  <div class="container-arrow" title="Previous Meal">
    <mat-icon class="arrow" *ngIf="previousMeals.length" (click)="getMealById()">keyboard_arrow_left</mat-icon>
  </div>

  <ng-container *ngIf="isLoading; else loaded">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-template #loaded>
    <app-card [meal]="meal" (save)="save()"></app-card>
  </ng-template>

  <div class="container-arrow" title="Random Meal">
    <mat-icon class="arrow" (click)="getRandomMeal()">keyboard_arrow_right</mat-icon>
  </div>

</div>